aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/parcellite.desktop
data/parcellite-startup.desktop
depcomp
.deps
install-sh
intltool-*
m4
Makefile
Makefile.in
missing
po/boldquot.sed
po/ChangeLog
po/en@boldquot.header
po/en@quot.header
po/*gmo
po/insert-header.sin
po/.intltool-merge-cache
po/Makevars.template
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-it
po/Makefile.in.in
POTFILES
src/parcellite
stamp-h1
