aclocal.m4
autom4te.cache
config.guess
config.h.in
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intltool-*
Makefile.in
m4
missing
po/Makevars.template
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/ChangeLog
